<div class="site-category">
    <ul class='cat1'>
      <li><a href="/">Home</a></li>
      <li><a href="/">Project</a>
        <ul>
            <li><a href="/Project/TCP">TCP</a></li>
            <li><a href="/Project/Major">Major</a></li>
            <li><a href="/Project/Personal Project">Personal Project</a></li>
        </ul>
      </li>

      <li><a href="/">Practice</a>
        <ul>
            <li><a href="/Practice/Major">Major</a></li>
            <li><a href="/Practice/Personal Practice">Personal Practice</a></li>
        </ul>
      </li>

      <li><a href="/">Study</a>
        <ul>
            <li><a href="/Study/2019-1 Program Solving">2019-1 Program Solving</a></li>
            <li><a href="/Study/2019-1 Python">2019-1 Python</a></li>
            <li><a href="/Study/2019-2 Android">2019-2 Android</a></li>
            <li><a href="/Study/2019-2 Tetris">2019-2 Tetris</a></li>
        </ul>
      </li>

    </ul>
  </div>